/*ipad 768px*/
/*Canvas image doesn't load full at small screen*/
/*Also, the `id` of dash_canvas.DashCanvas() doesn't appear in DOM */


:root{

  --dark_clay: '#80A3A2';
  --blue_clay:'#ABCECF';
  --light_clay:'#C4DCE0';
  --light_blu:'#DAF4F5'
}


@media only screen and (min-width: 500px) and (max-width: 850px) {
    /*set canvas witdh to be 600px;*/
    .canvas-outer > div > div {
      width: 900px !important;
      height: 600.75px !important;
    }
  
  
    .canvas-container {
      width: 900px !important;
      height: 600.75px !important;
      position:absolute;
      margin-top:12vh;
      margin-left:25vw;
      width:55vw;
      height:65vh;
      background-color:var(--light_clay);
      border-radius:20px
    }

 
  

  
  }


.Color-Picker{
    margin-left:5%;
    margin-top:5%;

}

.Tools{
    position:absolute;
    margin-top:5%;
    margin-left:1%;
    width:20vw;
    height:90%;
    background-color:var(--dark_clay);
    border-radius:20px;
  }

.Brush-Div{
    position:absolute;
    border-radius:20px;
    margin-top:88%;
    position:absolute;
    width:100%;
    background-color:white;
  }

.Layout{
    display:flex;
    width:100vw;
    height:100vh;
    background-color:black;
  }


.Upload{
    /* width:40%; */
    /* height:60%; */
    background-color:var(--light_clay);
  }

.Navbar{
    height:5vh;
    width:100vw;
    position:absolute;
  }

.Color-Pallete{
    background-color:var(--blue_clay);
    width:9vw;
    height:5vh;
    display:block;
    position:absolute;
    margin-top:63.5vh;
    margin-left:5%;
    position:absolute;
    border-radius:20px;
  }
 
  .Segmentation-Div{
    position: absolute;
    width: 12vw;
    height: 20vh;
    background-color: azure;
    border-radius: 20px;
    margin-top: 35vh;
    align-items: center;
  }

  .Top-Channel-Header{
    position: absolute;
    font-size: 1.2vw;
    margin-top: 4vh;
    margin-left: 0.5vw;
  }

  .Mid-Channel-Header{
    position: absolute;
    font-size: 1.2vw;
    margin-top: 9.5vh;
    margin-left: 0.5vw;
  }

  .Bottom-Channel-Header{
    position: absolute;
    font-size: 1.2vw;
    margin-top: 14.5vh;
    margin-left: 0.5vw;
  }

  .Top-Channel-Slider{
    position: absolute;
    width: 12vw;
    margin-top: 5vh;
  }

  .Mid-Channel-Slider{
    position: absolute;
    width: 12vw;
    margin-top: 10vh;
  }

  .Bottom-Channel-Slider{
    position: absolute;
    width: 12vw;
    margin-top: 15vh;
  }

  .Csv-Table{
    overflow-y: scroll;
  }